.range__thumb {
  width: 100%;
  -webkit-appearance: none;
  background-color: #E1E1E1;
  margin: 0 auto;
  height: 0;
  position: absolute;
  top: 3px;
}

.range__thumb::-webkit-slider-runnable-track {
  -webkit-appearance: none;
}

.range__thumb::-webkit-slider-thumb {
  width: 16px;
  -webkit-appearance: none;
  height: 16px;
  cursor: pointer;
  background: #FF9514;
  border-radius: 50%;
  margin-top: -3px;
  transition: 0.2s;
}

.range__thumb_hover::-webkit-slider-thumb:hover {
  height: 24px;
  width: 24px;
  transition: 0.2s;
}

.range__thumb_disabled::-webkit-slider-thumb:hover {
  width: 16px;
  -webkit-appearance: none;
  height: 16px;
  background: #FF9514;
  border-radius: 50%;
  margin-top: -3px;
  cursor: inherit;
}