.body {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

/* @media (max-width: 991px) {
    .body {
        font-size: 14px;
    }
} */

/* @media (max-width: 1300px) {
    .body {
        font-size: 15px;
    }
} */
