.calculator-column__input {
    position: relative;
    margin: 24px 0 51px;
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 1.875rem;
    line-height: 36px;
    padding: 16px 24px;
    color: #575757;
    background: #F3F3F4;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.calculator-column__input_active {
    border: 2px solid #F3F3F4;
    border-radius: 16px;
    background: #fff;
}

@media(max-width: 1024px) {
    .calculator-column__input {
        margin-bottom: 32px;
    }
}

@media(max-width: 580px) {
    .calculator-column__input {
        padding: 20px;
    }
}
