.price-input {
    font-family: 'Nekst-Black';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #575757;
    background: #F3F3F4;
    border-radius: 16px;
    border: none;
    max-width: 324px;
}

.price-input:focus {
    outline: none;
}
