.calculator-column__title {
    font-family: 'Gilroy-Regular', Arial, sans-serif;
    font-style: normal;
    color: #575757;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
}

@media(max-width: 580px) {
    .calculator-column__title {
        font-size: 1.17rem;
    }
}
